
.page{
    padding: 10px;
    border: 2px solid;
    margin: 10px;
}
/* .box{
    padding: 10px;
    margin: 10px; */
/* } */

.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid;
    margin: 10px 25%;
    height: 70px;
    width: 25% 25%;

}
.container{ 
    padding: auto; 
     margin: auto;
 }

.row{
    padding: 5px;
    margin: 5px;
    width: 100%;
}
.col-sm-3{
    padding: 3px;
    border: 2px solid;
    margin: 3px;
    width: min-content;
    height: 190px;
}

.text{
    display: flex;
    padding: 2px;
    margin: 2px;
}
.col1{
    padding: 3px;
    margin: 3px;
}
.head1{
    justify-content: center;
    padding: 3px;
    margin: 3px;
    width: 10px 25%;
}
.image{
    display:flex;
    text-align: center;
    margin: 5px;
    padding: 25px;
    border: 2px solid;
    height: 120px;
    width: 100px;
    
}
.date{
    display:inline-block;
    justify-content:center;
}









